<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>AquaLink</string>
	<key>CFBundleIdentifier</key>
	<string>local.ibookproject.aqualink</string>
	<key>CFBundleName</key>
	<string>AquaLink</string>
	<key>CFBundleIconFile</key>
	<string>AquaLink.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<false/>
</dict>
</plist>
